@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* globals.css */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #e91e63;
}

/* Romantic Theme */
.theme-romantic {
  --background: #fff0f5;
  --foreground: #880e4f;
  --accent: #f48fb1;
}

/* Rustic Theme */
.theme-rustic {
  --background: #f5f5dc;
  --foreground: #4e342e;
  --accent: #8d6e63;
}

/* Modern Theme */
.theme-modern {
  --background: #f0f0f0;
  --foreground: #212121;
  --accent: #00bcd4;
}

/* Elegant Theme */
.theme-elegant {
  --background: #fefefe;
  --foreground: #333333;
  --accent: #9c27b0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

a,
button {
  color: var(--accent);
}

/* Ensure container respects theme */
.container.theme-romantic,
.container.theme-rustic,
.container.theme-modern,
.container.theme-elegant {
  background-color: var(--background);
  color: var(--foreground);
}
.form-control:focus,
.form-select:focus {
  border-color: var(--accent) !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 105, 180, 0.25) !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Great Vibes", cursive !important;
}
